In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn import metrics
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
pd.set_option('max_colwidth', 500)


%matplotlib inline

In [2]:
train= pd.read_csv('./fucking_por_nba.csv')

In [3]:
train.shape

(50, 14)

In [4]:
train.head()

,POR eFG%,PORTOV%,POR ORB%,POR FT/FGA,POR ORtg,Opp eFG%,Opp TOV%,Opp ORB%,Opp FT/FGA,Opp ORtg,Home,Away,Blazers,Opp
0,0.528,10.7,23.4,0.222,115.4,0.390,9.7,19.0,0.176,87.3,1,0,115,87
1,0.601,17.8,26.8,0.202,115.2,0.401,7.8,29.5,0.170,100.6,1,0,118,103
2,0.494,15.0,17.6,0.198,98.9,0.417,15.2,24.5,0.345,96.0,0,1,102,99
3,0.506,9.6,14.9,0.136,105.2,0.443,11.1,30.9,0.146,103.1,0,1,101,99
4,0.510,9.6,22.6,0.270,116.4,0.453,6.7,31.1,0.164,111.9,1,0,129,124

In [5]:
features = train.drop(['Blazers','Opp'], axis=1)

In [6]:
features.head()

,POR eFG%,PORTOV%,POR ORB%,POR FT/FGA,POR ORtg,Opp eFG%,Opp TOV%,Opp ORB%,Opp FT/FGA,Opp ORtg,Home,Away
0,0.528,10.7,23.4,0.222,115.4,0.390,9.7,19.0,0.176,87.3,1,0
1,0.601,17.8,26.8,0.202,115.2,0.401,7.8,29.5,0.170,100.6,1,0
2,0.494,15.0,17.6,0.198,98.9,0.417,15.2,24.5,0.345,96.0,0,1
3,0.506,9.6,14.9,0.136,105.2,0.443,11.1,30.9,0.146,103.1,0,1
4,0.510,9.6,22.6,0.270,116.4,0.453,6.7,31.1,0.164,111.9,1,0

In [7]:
X = features
y = train['Blazers']

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y)

In [9]:
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score

for alpha in range(10):
    alpha=alpha/10
    scaler = StandardScaler()
    X_train = scaler.fit_transform(X_train)
    X_test = scaler.transform(X_test)

    # Instantiate the model.
    #(Alpha of zero has no regularization strength, essentially a basic linear regression.)
    ridgereg = Ridge(alpha=alpha, normalize=True)

    # Fit the model.
    ridgereg.fit(X_train, y_train)

    # Predict with fitted model.
    predictions = ridgereg.predict(X_test)

    #print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
    training_score = ridgereg.score(X_train,y_train)
    testing_score = r2_score(y_test,predictions)
    print(alpha,training_score)
    print(alpha,testing_score)
    print('')

0.0 0.8640140960871308
0.0 0.6860832809415984

0.1 0.8557563124660313
0.1 0.700971554700924

0.2 0.8473883131936125
0.2 0.6998554514225555

0.3 0.8372553294888923
0.3 0.6929643244978119

0.4 0.8260216119069128
0.4 0.6831182130391484

0.5 0.8141300969032796
0.5 0.6717292632103925

0.6 0.8018670802966841
0.6 0.6595503146603774

0.7 0.7894253153458013
0.7 0.6470076250405619

0.8 0.7769387725102059
0.8 0.6343539300129897

0.9 0.7645023971327255
0.9 0.6217440701915324

/Users/AceJohnson/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/AceJohnson/anaconda3/lib/python3.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/Users/AceJohnson/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

In [10]:
# Create a NumPy array with the same shape as y_test.
y_null = np.zeros_like(y_test, dtype=float)

# Fill the array with the mean value of y_test.
y_null.fill(y_test.mean())
y_null

array([115.53846154, 115.53846154, 115.53846154, 115.53846154,
       115.53846154, 115.53846154, 115.53846154, 115.53846154,
       115.53846154, 115.53846154, 115.53846154, 115.53846154,
       115.53846154])

In [11]:
print('Null RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_null)))
print('Predicted RMSE:', np.sqrt(metrics.mean_squared_error(y_test,predictions)))

Null RMSE: 9.572519840390749
Predicted RMSE: 5.8873404092813395

In [12]:
predictions=pd.DataFrame(predictions)

In [13]:
ridgereg.predict.to_csv('prediction_5_ridge.csv')

AttributeError: 'function' object has no attribute 'to_csv'

In [14]:
print(predictions)

             0
0   109.199657
1   111.400426
2   115.772058
3   115.668666
4   112.573251
5   123.810504
6   103.309973
7   104.921265
8   123.597441
9   114.469926
10  114.806855
11  112.810821
12  110.226824