In [181]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn import metrics
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
pd.set_option('max_colwidth', 500)


%matplotlib inline

In [182]:
train= pd.read_csv('./fucking_por_nba.csv')

In [183]:
train.shape

(50, 14)

In [184]:
train.head()

,POR eFG%,PORTOV%,POR ORB%,POR FT/FGA,POR ORtg,Opp eFG%,Opp TOV%,Opp ORB%,Opp FT/FGA,Opp ORtg,Home,Away,Blazers,Opp
0,0.528,10.7,23.4,0.222,115.4,0.390,9.7,19.0,0.176,87.3,1,0,115,87
1,0.601,17.8,26.8,0.202,115.2,0.401,7.8,29.5,0.170,100.6,1,0,118,103
2,0.494,15.0,17.6,0.198,98.9,0.417,15.2,24.5,0.345,96.0,0,1,102,99
3,0.506,9.6,14.9,0.136,105.2,0.443,11.1,30.9,0.146,103.1,0,1,101,99
4,0.510,9.6,22.6,0.270,116.4,0.453,6.7,31.1,0.164,111.9,1,0,129,124

In [187]:
features = train.drop(['Blazers','Opp'], axis=1)

In [188]:
features.head()

,POR eFG%,PORTOV%,POR ORB%,POR FT/FGA,POR ORtg,Opp eFG%,Opp TOV%,Opp ORB%,Opp FT/FGA,Opp ORtg,Home,Away
0,0.528,10.7,23.4,0.222,115.4,0.390,9.7,19.0,0.176,87.3,1,0
1,0.601,17.8,26.8,0.202,115.2,0.401,7.8,29.5,0.170,100.6,1,0
2,0.494,15.0,17.6,0.198,98.9,0.417,15.2,24.5,0.345,96.0,0,1
3,0.506,9.6,14.9,0.136,105.2,0.443,11.1,30.9,0.146,103.1,0,1
4,0.510,9.6,22.6,0.270,116.4,0.453,6.7,31.1,0.164,111.9,1,0

In [192]:
X = features
y = train['Blazers']

In [193]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y)

In [207]:
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score

for alpha in range(10):
    alpha=alpha/10
    scaler = StandardScaler()
    X_train = scaler.fit_transform(X_train)
    X_test = scaler.transform(X_test)

    # Instantiate the model.
    #(Alpha of zero has no regularization strength, essentially a basic linear regression.)
    ridgereg = Ridge(alpha=alpha, normalize=True)

    # Fit the model.
    ridgereg.fit(X_train, y_train)

    # Predict with fitted model.
    predictions = ridgereg.predict(X_test)

    #print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
    training_score = ridgereg.score(X_train,y_train)
    testing_score = r2_score(y_test,predictions)
    print(alpha,training_score)
    print(alpha,testing_score)
    print('')

0.0 0.8558899723453315
0.0 0.8227081011968704

0.1 0.8454059724517536
0.1 0.8163061833755966

0.2 0.8368448100581929
0.2 0.8155075122678273

0.3 0.8265370553827355
0.3 0.810348819174923

0.4 0.8150799928994709
0.4 0.8024823167478154

0.5 0.8029323939828817
0.5 0.7929367865179942

0.6 0.7904010276840471
0.6 0.782345621526686

0.7 0.7776938566854089
0.7 0.7711155311452412

0.8 0.7649546917798449
0.8 0.7595175200487639

0.9 0.7522843009643545
0.9 0.7477372845580825

In [195]:
# Create a NumPy array with the same shape as y_test.
y_null = np.zeros_like(y_test, dtype=float)

# Fill the array with the mean value of y_test.
y_null.fill(y_test.mean())
y_null

array([111.69230769, 111.69230769, 111.69230769, 111.69230769,
       111.69230769, 111.69230769, 111.69230769, 111.69230769,
       111.69230769, 111.69230769, 111.69230769, 111.69230769,
       111.69230769])

In [196]:
print('Null RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_null)))
print('Predicted RMSE:', np.sqrt(metrics.mean_squared_error(y_test,predictions)))

Null RMSE: 10.936070278491021
Predicted RMSE: 5.492724614919038

In [203]:
predictions=pd.DataFrame(predictions)

In [204]:
predictions.to_csv('prediction_5_ridge.csv')